.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.788);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-logout {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.788);
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
}

@media (min-width: 320px) and (max-width: 575.98px) {
  .loader-container {
    margin-left: 30px;
    width: 50%;
  }
}
