.bg-main {
  background-color: #009c95 !important;
}

.text-main {
  color: #009c95 !important;
}

.btn-main {
  color:#fff;
  background-color:#009c95;
  border-color:#009c95
}
  
.btn-main:hover {
  color:#fff;
  background-color:#04c9bf;
  border-color:#04c9bf
}

.btn-main.focus,
.btn-main:focus {
  color:#fff;
  background-color:#04c9bf;
  border-color:#04c9bf;
  box-shadow:0 0 0 .2rem #04c9bf
}

.btn-main.disabled,
.btn-main:disabled {
  color:#fff;
  background-color:#005752;
  border-color:#028d86
}

.btn-main:not(:disabled):not(.disabled).active,
.btn-main:not(:disabled):not(.disabled):active,
.show>.btn-main.dropdown-toggle {
  color:#fff;
  background-color:#04c9bf;
  border-color:#04c9bf
}

.btn-main:not(:disabled):not(.disabled).active:focus,
.btn-main:not(:disabled):not(.disabled):active:focus,
.show>.btn-main.dropdown-toggle:focus {
  box-shadow:0 0 0 .2rem #04c9bf
}

.btn-outline-main {
  color:#009c95;
  border-color:#009c95
}
  
.btn-outline-main:hover {
  color:#fff;
  background-color:#009c95;
  border-color:#009c95
}

.btn-outline-main.focus,
.btn-outline-main:focus {
  box-shadow:0 0 0 .2rem #009c95
}
  
.btn-outline-main.disabled,
.btn-outline-main:disabled {
  color:#009c95;background-color:transparent
}

.btn-outline-main:not(:disabled):not(.disabled).active,
.btn-outline-main:not(:disabled):not(.disabled):active,
.show>.btn-outline-main.dropdown-toggle {
  color:#fff;background-color:#009c95;border-color:#009c95
}

.btn-outline-main:not(:disabled):not(.disabled).active:focus,
.btn-outline-main:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-main.dropdown-toggle:focus {
  box-shadow:0 0 0 .2rem #2e8883e8
}

.border-left-main {
  border-left:.25rem solid #009c95 !important
}

.border-right-main {
  border-left:.25rem solid #009c95 !important
}

.border-buttom-main {
  border-left:.25rem solid #009c95  !important
}

.border-top-main {
  border-left:.25rem solid #009c95 !important
}

.border-main{
  border-color:#009c95 !important
}

.page-item.active .page-link {
  z-index:3;
  color:#fff;
  background-color: #009c95 !important;
  border-color: #009c95 !important
}

@media (min-width: 320px) and (max-width: 575.98px) {
  .topbar-name {
      font-size: 8px !important;
  }

  .current-date {
      display: none !important;
  }

}

@media (min-width: 320px) and (max-width: 1002px) {
  #view-app-calendar {
      display: none !important;
  }
}

.search-input {
  border-top-left-radius:.35rem!important;
  border-bottom-left-radius:.35rem!important
}

.clear-search {
  border-top-right-radius:.33rem!important;
  border-bottom-right-radius:.33rem!important
}

.form-select {
  background-size: 20px auto;
}

.rotate-n-20 {
  transform: rotate(-10deg);
}

.dropdown-item-delete { 
  display:block;
  width:100%;
  padding:.25rem 1.5rem;
  clear:both;
  font-weight:400;
  color:#e74a3b;
  text-align:inherit;
  white-space:nowrap;
  background-color:transparent;
  border:0
}

.dropdown-item-delete:focus,.dropdown-item-delete:hover {
  color:#e74a3b;
  text-decoration:none;
  background-color:#eaecf4
}

.dropdown-item-delete.active,
.dropdown-item-delete:active {
  color:#fff;
  text-decoration:none;
  background-color:#009c95
}

.change-photo ,.parent-pic {
  cursor: pointer;
}